<svg width="1200px" height="600px">
	<rect x="20" y="112" width="50" height="25" fill="Cyan"  />
	<text x="30" y="129" >300</text>
	<rect x="20" y="212" width="50" height="25" fill="Cyan"  />
	<text x="30" y="229" >301</text>
	<rect x="20" y="312" width="50" height="25" fill="Cyan"  />
	<text x="30" y="329" >302</text>
	<rect x="20" y="412" width="50" height="25" fill="Cyan"  />
	<text x="30" y="429" >303</text>
	<path d="M 835 110 L 635 190 " stroke="black" />
	<path d="M 835 110 L 1035 130 " stroke="black" />
	<path d="M 820 80 L 882 105 820 130 Z " fill="green" />
	<text x="830" y="109" >400</text>
	<path d="M 435 190 L 235 270 " stroke="black" />
	<path d="M 435 190 L 1035 230 " stroke="black" />
	<path d="M 420 160 L 482 185 420 210 Z " fill="green" />
	<text x="430" y="189" >401</text>
	<path d="M 435 110 L 235 110 " stroke="black" />
	<path d="M 420 80 L 482 105 420 130 Z " fill="green" />
	<circle cx=482 cy=105 r=7 fill="green" />
	<text x="430" y="109" >501</text>
	<path d="M 235 110 L 35 130 " stroke="black" />
	<path d="M 235 110 L 35 230 " stroke="black" />
	<path d="M 220 80 270 80 Q 295 105 270 130 L 220 130 Z " fill="red" />
	<text x="230" y="109" >500</text>
	<path d="M 635 190 L 435 110 " stroke="black" />
	<path d="M 635 190 L 35 330 " stroke="black" />
	<path d="M 620 160 670 160 Q 695 185 670 210 L 620 210 Z " fill="red" />
	<text x="630" y="189" >502</text>
	<path d="M 235 270 L 35 330 " stroke="black" />
	<path d="M 235 270 L 35 430 " stroke="black" />
	<path d="M 220 240 270 240 Q 295 265 270 290 L 220 290 Z " fill="red" />
	<text x="230" y="269" >503</text>
	<path d="M 1035 130 L 1035 130 " stroke="black" />
	<rect x="1020" y="112" width="50" height="25" fill="gray"  />
	<text x="1030" y="129" >400</text>
	<path d="M 1035 230 L 1035 230 " stroke="black" />
	<rect x="1020" y="212" width="50" height="25" fill="gray"  />
	<text x="1030" y="229" >401</text>
</svg>
